.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 500px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title {
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.span {
  text-indent: 230px;
}
.content {
  color: #ffff;
  height: auto;
}
